<app-header></app-header>

<a>
    <img src="../../../assets/mae.png">
</a>




<div class="card highlight-card card-small">


    <div class="card-container">

        <a class="card" target="_blank" rel="noopener" href="">
            <img class=" img1" src=" ../../../assets/fraldas.png " id="centro" min-width="90%" height="50px">



            <font color="white"> Fraldas</font>



        </a>


        <a class="card" target="_blank" rel="noopener" href="">
            <img class=" img1" src=" ../../../assets/cobertores.png " id="centro" min-width="90%" height="50px">
            <font color="white">Cobertores e mantas</font>

        </a>


        <a class="card" target="_blank" rel="noopener" href="">
            <img class=" img1" src=" ../../../assets/higiene.png " id="centro" min-width="90%" height="50px">
            <font color="white">Higiene</font>

        </a>

    </div>