        .header {
            max-width: 100%;
            top: auto;
            display: flex;
            align-items: center;
            height: 50px;
        }
        
        .header a {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        
        .logo {
            max-height: 42px;
            padding-left: 50px;
        }
        
        .inputPesquisa {
            width: 100px;
            border-radius: 16px;
            max-width: 100%;
            padding-left: 100px;
            min-width: 50%;
            height: 20px;
            /* O padding influencia no tamanho do componente (Ã© como se fosse 20px + 5px da altura) */
        }
        
        input[type=text] {
            position: relative;
            outline: 0;
            width: 200px;
            height: 35px;
            border: 1px solid#5A5758;
            border-radius: 16px;
            font-size: 16px;
            background-color: white;
            left: 50px;
            margin: 60px;
            right: 310px;
            text-decoration-color: white;
        }
        
        .compras {
            max-width: 100%;
            padding-left: -200px;
        }
        
        .user {
            max-width: 100%;
            padding-left: 520px;
        }