<header mat-toolbar class="header mat-elevation-z4">
    <span>
    <a >
        <img class="logo" src="../../../assets/logo.png" >
    </a>
  </span>

    <span>
    <a >
        <input class="inputPesquisa" type="text" name="search" placeholder="Buscar" allign="left" whith="50px">
    </a>
    
    </span>

    <span>
    <a class="user" href="login" style="text-decoration:none">
        <img src="../../../assets/user.png" top="10px">
        <font color="##747373"> Username</font></a>
   
  </span>

    <span>
    <a class="compras" href="finalizar" style="text-decoration:none">
        <img src="../../../assets/carrinho.png"><font color="##747373">Carrinho</font>
        
      </a>
     
      </span>

    <base href="/">

</header>