<a>
    <img src="../../../assets/mae.png">
</a>







<div class="card-container">

    <a class="card card1" target="_blank" rel="noopener" href="">
        <img class=" img1" src=" ../../../assets/fraldas.png " id="centro" min-width="90%" height="50px">
        <font color="white"> Fraldas</font>
    </a>


    <a class="card card2" target="_blank" rel="noopener" href="">
        <img class=" img1" src=" ../../../assets/cobertores.png " id="centro" min-width="90%" height="50px">
        <font color="white">Cobertores e mantas</font>

    </a>


    <a class="card card3" target="_blank " rel="noopener " href=" ">

        <img class=" img1 " src=" ../../../assets/mascara4.png " id="centro " min-width="90% " height="50px ">

        <font color="white">Bodies</font>
    </a>

    <a class="card card4" target="_blank " rel="noopener " href=" ">
        <img class=" img1 " src=" ../../../assets/mascara2.png " id="centro " min-width="90% " height="50px ">
        <font color="white">Bodies</font>
    </a>
    <a class="card card5" target="_blank " rel="noopener " href=" ">
        <img class=" img1 " src=" ../../../assets/bolsa.png " id="centro " min-width="90% " height="50px ">
        <font color="white">Bolsa,mala e fresquiere</font>
    </a>
    <a class="card card6" target="_blank " rel="noopener " href=" ">
        <img class=" img1 " src=" ../../../assets/mascara5.png " id="centro " min-width="90% " height="50px ">
        <font color="white">Acessórios</font>
    </a>
    <a class="card card7" target="_blank " rel="noopener " href=" ">
        <img class=" img1 " src=" ../../../assets/mascara6.png " id="centro " min-width="90% " height="50px ">
        <font color="white">Brinquedos</font>
    </a>


</div>
